<div class="faq">
  <breadcrumbs [list]="[{text: 'Главная', link: '/'}, {text: 'Вопрос-ответ', link: null}]"></breadcrumbs>
  <div class="common-caption common-caption__account">
    <h3 style="padding-bottom: 10px;">
      Частые вопросы
    </h3>
    <hr>
  </div>
  <div class="caption">Как произвести заказ на сайте?</div>
  <div class="text">
    <b>Ответ:</b> <p>Для заказа товаров на нашем сайте перейдите в раздел Каталог, выберите интересующую Вас категорию товаров. Каталог разделен на
    зоны воздействия (Лицо, Тело, Волосы и т.д.), каждый из разделов так же делится на подкатегории (например, Лицо/Пилинги) для облегчения поиска
    нужного товара. Выбрав нужный - переходите в карточку товара (кликнув по его изображению в каталоге), где есть подробное описание товара, его
    активные компоненты, отзывы и кнопка "В корзину" (добавится указанное количество). Добавив все необходимые товары таким образом в корзину - 
    перейдите в нее (кликнув по иконке корзины в верхней панели). Здесь нужно указать параметры доставки товара (ФИО получателя, контактные данные,
    адрес доставки и способ перевозки) и нажать кнопку "Сохранить" для подтверждения заказа. После чего Вы попадете на форму оплаты заказа, где
    будут перечислены все заказанные товары, параметры доставки и общая стоимость заказа. Для оплаты - нажмите кнопку "Оплатить", после чего Вы
    попадаете на сайт платежной системы, где производите платеж. После успешного проведения платежа Вы вернетесь на страницу нашего магазина, где
    увидете изменившийся статус заказа. </p>    
  </div>  
</div>