.item {
    margin-right: 7px;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
        color: #53555a;
    }

    &::after {
        content: '';
        width: 5px;
        height: 5px;
        border-top: 1px solid #c9c9c9;
        border-right: 1px solid #c9c9c9;
        transform: rotate(45deg);
        margin-left: 7px;
    }

    &.last {
        &::after {
            display: none;
        }
    }
}