.vscode
.idea
.editorconfig
**/node_modules/
**/out/
*.swp
**/**/*.pyc
**/**/.bash_history
**/**/package-lock.json
*.retry
**/__pycache__/*
**/**/.ipynb_checkpoints
**/**/*.csv#
**/**/*.xls#
**/**/*.xlsx#
**/yarn-error.log
_frontend
**/scratch.txt
fhp/prod
bbackend/log
bbackend/reports
celerybeat-schedule
celerybeat.pid
bbackend/cookies.txt
bbackend/data.vagrant
.vagrant
ubuntu-bionic-18.04-cloudimg-console.log
backend/log
backend/test_security.py
frontend/test_ssr
