<div class="shipping">
  <breadcrumbs [list]="[{text: 'Главная', link: '/'}, {text: 'Доставка заказов', link: null}]"></breadcrumbs>
  <div class="common-caption common-caption__account">
    <h3 style="padding-bottom: 10px;">
      Доставка заказов
    </h3>
    <hr>
  </div>
  <div class="text">
    Доставка осуществляется по территории РФ Почтой России или службой курьерской доставки СДЭК (по выбору покупателя).
    <p>Сроки и стоимость доставки зависят от веса посылки и региона, в который доставляется товар.</p>
    <p>Предварительную стоимость доставки Вы увидете при оформлении заказа, так же ее можно рассчитать самостоятельно на сайте компании перевозчика. Полученные данные являются ознакомительной информацией и не являются конечной стоимостью доставки. Окончательная стоимость определяется только после формирования груза и зависит от веса посылки.</p>
    <p>Важно! Доставка товара осуществляется только после 100% предоплаты за заказ (т.е. мы отправляем Вам товар по факту поступления оплаты за него на наш счёт).</p>
    <p>Отправка заказа осуществляется на следующий день после получения нами оплаты. (Просим не путать с «уведомлением нас об оплате». С момента оплаты до получения нами денег, проходит, как правило, 1-2 рабочих дня).</p>
    <p>Оправка заказов осуществляется ежедневно (кроме выходных и праздничных дней).</p>
    <p>Ответственность за сохранность заказа во время пересылки несет транспортная компания.</p>
    <p>При получении товара в транспортной компании Вам необходимо проверить целостность упаковки  и сверить фактический вес посылки с указанным в сопроводительном документе.</p>
    <p>В случае обнаружения  при приемке посылки дефекта целостности упаковки или различия веса необходимо приостановить приемку, вызвать представителя транспортной компании (или иного незаинтересованного лица) и составить акт. Все претензии по данному вопросу решаются между Покупателем и транспортной компанией.</p>
    <p>Согласно Закону "О защите прав потребителей" и "Правилам дистанционной продажи" при отказе покупателя от получения товара, он обязан оплатить продавцу стоимость доставки.</p>    
  </div>
</div>