<div class="partner">
  <breadcrumbs [list]="[{text: 'Главная', link: '/'}, {text: 'Личный кабинет', link: '/account'}, {text: 'Партнерство', link: null}]"></breadcrumbs>
  <div class="partner-caption">
    <div class="partner-caption__inner">
      <h3>Добро пожаловать в партнерскую программу Dari cosmetics</h3>
      <p>чтобы покупать косметику с кэшбеком 10%, получать награды за рекомендации,</p>
      <p>зарабатывать <b>до 50%</b> за счет оптовой цены</p>
      <p>и выглядеть сногсшибательно</p>
      <div class="btns">
        <div class="btn btn__partner" (click)="openPopup()">
          Стать партнером
        </div>
      </div>
    </div>
  </div>
  <div class="common-caption">
    <h3>
      Компания Dari cosmetics - это
    </h3>
    <hr>
  </div>
  <div class="partner-company">
    <div class="partner-company__item">
      <div class="caption">40+</div>
      <div class="sub">человек</div>
      <div class="text">
        команды косметологов, технологов, консультантов, маркетологов
      </div>
    </div>
    <div class="partner-company__item">
      <div class="caption">10</div>
      <div class="sub">лет</div>
      <div class="text">
        опыта на косметическом рынке России
      </div>
    </div>
    <div class="partner-company__item">
      <div class="caption">53 879</div>
      <div class="sub">клиентов</div>
      <div class="text">
        которые пользуются нашей косметикой регулярно
      </div>
    </div>
    <div class="partner-company__item">
      <div class="caption">7585</div>
      <div class="sub">отзывов</div>
      <div class="text">
        от девушек, получивших потрясяющие результаты
      </div>
    </div>
    <div class="partner-company__item">
      <div class="caption">35+</div>
      <div class="sub">продуктов</div>
      <div class="text">
        для лица, тела и волос
      </div>
    </div>
  </div>
  <div class="common-caption">
    <h3 style="padding-bottom: 13px;">
      Семья наших клиентов растет с каждым днем - не хватает только вас
    </h3>
    <hr style="top: 80px;">
    <span>Создайте личный кабинет на сайте Dari-cosmetics, чтобы пользоваться любимой косметикой с выгодой</span>
  </div>  
  <div class="partner-conditions">
    <div class="partner-conditions__item partner-conditions__item-sup">
      <div class="icon">
        <mat-icon svgIcon="shoppingBag"></mat-icon>
      </div>
      <div class="text">
        <b>Кэшбек 5%</b> с каждой Вашей покупки на личный счет просто, чтобы любимая косметика была еще доступнее
      </div>
    </div>
    <div class="partner-conditions__item">
      <div class="icon">
        <mat-icon svgIcon="megaphone"></mat-icon>
      </div>
      <div class="text">
        <b>Делитесь реферальной ссылкой и получайте</b> 5% на счет в благодарность за покупки клиентов, чтобы Вы ощущали - мы ценим Ваши рекомендации
      </div>
    </div>
    <div class="partner-conditions__item">
      <div class="icon">
        <mat-icon svgIcon="voucher"></mat-icon>
      </div>
      <div class="text">
        Оптовая скидки бизнес-партнерам Dari Cosmetics в качестве дохода от продаж любимой косметики
      </div>
    </div>
  </div>
  <div class="partner-work">
    <div class="common-caption">
      <h3>
        Бизнес-партнер Dari cosmetics может <br>
        <b>зарабатывать двумя способами</b>
      </h3>
      <hr style="top: 80px;">
    </div>
    <div class="partner-work__steps">
      <div class="step">
        <div class="step__caption">
          Способ # 1
        </div>
        <div class="step__text">
          <p><b>Выкупать товар оптом</b> для дальнейшей продажи на своих площадках</p>
          <p><b>Для этого:</b></p>
          <ul>
            <li>Закажите продукцию на сумму 15 000+ &#8381;</li>
            <li>Получите <b>скидку бизнес-партнера от 35%</b></li>
            <li>Продавайте продукцию на своих онлайн и оффлайн площадках по розичной цене</li>
          </ul>
          <p>Ваш заработок = разница между оптовой и розничной ценой</p>
        </div>
        <div class="step__text">
          <p><b>Почему это выгодно:</b></p>
          <ul>
            <li>Вы пользуетесь любимыми средствами по самой выгодной цене</li>
            <li>Вы получаете готовые уходовые программы, чтобы сразу продавать на бОльшие чеки</li>
            <li>Вы продаете по готовым инструкциям — вам не нужно разбираться в ассортименте самостоятельно</li>
          </ul>
        </div>
      </div>
      <div class="step">
        <div class="step__caption">
          Способ # 2
        </div>
        <div class="step__text">
          <p>Получать 5% кэшбек со своих покупок и 5% кэшбек с покупок своих рефералов</p>
          <p><b>Для этого:</b></p>
          <ul>
            <li>Сделайте покупку на 2 000 &#8381;</li>
            <li>Получите реферальную ссылку</li>
            <li>Делитесь ею с друзьями</li>
            <li>Получайте кэшбек</li>
          </ul>
          <p>Накопленный кэшбек можно использовать для оплаты будущих покупок (до 50% от суммы чека)</p>
        </div>
        <div class="step__text">
          <p><b>Почему это выгодно:</b></p>
          <ul>
            <li>Вы пользуетесь любимой косметикой и зарабатываете</li>
            <li>Вы получаете бесплатную консультацию и подбор уходовой программы - не нужно экспериментировать со средствами</li>
            <li>Ваши рекомендации приносят вам деньги</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="btn btn__login" (click)="openPopup()">Стать партнером</div>
  </div>
  <div class="consult">
    <div class="consult__form">
      <div class="consult__form-left">
        <h3>ОСТАЛИСЬ ВОПРОСЫ?</h3>
        <p>Заполните форму, и мы свяжемся с Вами, чтобы ответить на все интересующие Вас вопросы:</p>
        <div class="btn btn__call mobile" (click)="openPopup()">Оставить заявку</div>
        <form class="consult__form-data">
          <input type="text" placeholder="Ваше имя" [(ngModel)]="username" name="username">
          <input type="phone" placeholder="+7(900)123-45-67" phoneMask [(ngModel)]="userphone" name="userphone">
          <div class="agree">
            <div class="check" (click)="agree = !agree" [ngClass]="(agree)? 'active' : ''"></div>
            <div class="text" (click)="openDoc()">Я даю свое согласие на обработку персональных данных</div>
          </div>
          <!-- <label class="agree"><input type="checkbox"> </label>  -->
          <div class="btn" (click)="sendMessage()">Отправить</div>
        </form>
      </div>
      <div class="consult__form-right">
        <img src="https://dari-cosmetics.ru/assets/face2.jpg">
      </div>
    </div>
  </div>
</div>