<div class="order-return">
  <breadcrumbs [list]="[{text: 'Главная', link: '/'}, {text: 'Возврат', link: null}]"></breadcrumbs>
  <div class="common-caption common-caption__account">
    <h3 style="padding-bottom: 10px;">
      Условия возврата
    </h3>
    <hr>
  </div>
  <div class="caption">Общие положения</div>
  <div class="text">
    <p>К возврату принимаются товары, приобретенные только в интернет-магазине https://dari-cosmetics.ru и только от лица, оформившего заказ. Товары, приобретенные у других продавцов - не принимаются.</p>
    <div class="caption">Возврат и обмен товара надлежащего качества</div>
    <ul>
      <li>В соответствии с Законом РФ "О защите прав потребителей" покупатель вправе отказаться от товара в любое время до его передачи, в момент передачи курьером, а после передачи товара - в течение 7 (семи) дней, не считая дня покупки.</li>
      <li>Покупатель вправе обменять товар надлежащего качества на аналогичный в течение 7 дней с момента получения заказа. Если на момент обращения по обмену товара аналогичный товар отсутствует в продаже интернет-магазина, покупатель вправе отказаться от товара и потребовать возврата его стоимости, за исключением стоимости доставки товара. При отказе от товара в случае, если он является частью комплекта (промоупаковки), возврат может осуществляться только полным комплектом. Частичный возврат заказа невозможен.</li>
      <li>Возврат или обмен товара надлежащего качества возможен в случае, если сохранены его товарный вид, потребительские свойства (отсутствие следов эксплуатации, наличие оригинальной неповрежденной упаковки и ярлыков, полная комплектация товара).</li>
      <li>Возврат или обмен товара надлежащего качества осуществляется на основании заполненного заявления на возврат, товарного чека, подтверждающего факт покупки, а также документа, удостоверяющего личность покупателя.</li>
      <li>Потребитель не вправе обменять или вернуть товар надлежащего качества:
        <ul>
          <li>Имеющего индивидуально-определенные свойства, если указанный товар может быть использован исключительно приобретающим его потребителем;</li>
          <li>Указанный в Перечне непродовольственных товаров надлежащего качества, не подлежащих возврату или обмену, утвержденном Постановлением Правительства РФ от 19.01.1998 № 55.</li>
        </ul>
      </li>
      <li>Требования о возврате уплаченной за товар денежной суммы за вычетом расходов продавца на доставку подлежат удовлетворению в течение 10 дней со дня предъявления соответствующего письменного заявления, однако в пределах указанного срока продавец вправе провести экспертизу товара с целью определить его качество и сохранность потребительских свойств.</li>
    </ul>
    <div class="caption">Возврат товара ненадлежащего качества</div>
    <ul>
      <li>Под товаром ненадлежащего качества подразумевается товар, который не отвечает требованиям, установленным для этой категории товаров в нормативно-правовых актах и нормативных документах, или условиям договора, заключенного с покупателем.</li>
      <li>Полученный товар должен соответсвовать описанию на сайте интернет-магазина. Отличие элементов дизайна или оформления от заявленного на сайте описания не является признаком ненадлежащего качества.</li>
      <li>Покупатель в случае обнаружения в товаре недостатков, если они не были оговорены продавцом, по своему выбору вправе:
        <ul>
          <li>замены на товар этой же марки (этих же модели и (или) артикула);</li>
          <li>потребовать замены на такой же товар другой марки (модели, артикула) с соответствующим перерасчетом покупной цены;</li>
          <li>потребовать соразмерного уменьшения покупной цены;</li>
          <li>потребовать незамедлительного безвозмездного устранения недостатков товара или возмещения расходов на их исправление потребителем или третьим лицом;</li>
          <li>отказаться от исполнения договора купли-продажи и потребовать возврата уплаченной за товар суммы.</li>
        </ul>
      </li>
      <li>Сроки удовлетворения требований покупателя по каждому конкретному случаю отражены в ст. 20-22 Закона РФ «О защите прав потребителей».</li>
      <li>Возврат товара в случае обнаружения его недостатков осуществляется на основании заполненного заявления на возврат, товарного чека, подтверждающего факт и условия покупки, а также документа, удостоверяющего личность покупателя.</li>
      <li>Возврат может осуществляться только полным комплектом. Частичный возврат заказа невозможен.</li>
    </ul>  
    
    <div class="caption">Порядок возврата товара/ предъявления претензий по качеству и возврат товара</div>
    Порядок возврата товара надлежащего качества:
    <ul>
      <li>заполнить форму обратной связи в Личном кабинете на сайте https://dari-cosmetics.ru;</li>
      <li>распечатать и заполнить заявление на возврат (скачать образец заявления);</li>
      <li>аккуратно упаковать товар к возврату, вложить товарный или кассовый чек (в случае оплаты через платежные системы — распечатку из личного профиля соответствующей платежной системы с детализацией платежа), заполненное заявление, копию документа, удостоверяющего личность;</li>
      <li>отправить заказ и пакет документов с описью вложенных товаров и документов продавцу.</li>
    </ul>
    Порядок предъявления претензий по качеству и возврат товара:
    <ul>
      <li>заполнить форму обратной связи в Личном кабинете на сайте https://dari-cosmetics.ru;</li>
      <li>распечатать и заполнить заявление на возврат (скачать образец заявления);</li>
      <li>в заявлении подробно указать, какой именно дефект содержит возвращаемый товар;</li>
      <li>аккуратно упаковать товар к возврату, вложить товарный или кассовый чек (в случае оплаты через платежные системы – распечатку из личного профиля соответствующей платежной системы с детализацией платежа), заполненное заявление, копию документа, удостоверяющего личность;</li>
      <li>отправить заказ и пакет документов, с описью вложенных товаров и документов продавцу.</li>
    </ul>
    <div class="caption">Возврат денежных средств покупателю осуществляется одним из следующих способов:</div>
    <ul>
      <li>Перевод на банковскую карту в течении 10 дней по реквизитам, указанным в заявке.Реквизиты должны быть на имя покупателя или его доверенное лицо (при условии оформления покупателем доверенности и согласования ее с продавцом). Сроки зачисления денежных средств на расчетный счет покупателя зависят от внутреннего регламента банка-получателя.</li>
      <li>Перевод на электронный кошелек по реквизитам, указанным в заявке на возврат. Реквизиты должны быть на имя покупателя или его доверенное лицо (при условии оформления покупателем доверенности и согласования ее с продавцом). Сроки зачисления денежных средств на счет электронного кошелька зависят от провайдера и обычно не превышают 24 часов.</li>
    </ul>
  </div>

</div>