<div class="paying" style="padding-bottom: 20px;">
  <breadcrumbs [list]="[{text: 'Главная', link: '/'}, {text: 'Оплата товара', link: null}]"></breadcrumbs>
  <div class="common-caption common-caption__account">
    <h3 style="padding-bottom: 10px;">
      Описание процесса оплаты товара
    </h3>
    <hr>
  </div>
  <div class="text">
    <p>Оплата заказа производится непосредственно после его оформления. </p>
    <p> После завершения оформления заказа в нашем магазине, необходимо нажать на кнопку «Оплатить», после чего Вы будете направлены на сайт 
    платежной системы.</p>
    <p>Оплата заказа производится без комиссии. После подтверждения платежа Вы возвращаетесь на страницу нашего магазина, где система уведомит 
    Вас о результатах платежа. В случае ошибки или отказа, Вы сможете повторить процедуру оплаты.</p>
    <div class="caption">Оплата с помощью банковской карты</div>
    <p>Для выбора оплаты товара с помощью банковской карты на соответствующей странице сайта платежной системы необходимо нажать кнопку 
      «Оплата банковской картой».</p>
    <p>Оплата происходит через авторизационный сервер Процессингового центра Банка с использованием Банковских кредитных карт следующих платежных 
      систем:</p>
    <ul>
      <li>VISA International</li>
      <li>MasterCard World Wide</li>
      <li>Национальная платежная карта «Мир»</li>
    </ul>
    <img src="/assets/Visa-MasterCard-Mir.jpg" width="200px">
    <div class="caption">Описание процесса передачи данных</div>
    <p>Для оплаты покупки Вы будете перенаправлены на платежный шлюз для ввода реквизитов Вашей карты. Пожалуйста, приготовьте Вашу пластиковую 
      карту заранее. Соединение с платежным шлюзом и передача информации осуществляется в защищенном режиме с использованием протокола шифрования 
      SSL.</p>
    <p>В случае если Ваш банк поддерживает технологию безопасного проведения интернет-платежей Verified By Visa или MasterCard Secure Code для 
      проведения платежа также может потребоваться ввод специального пароля. Способы и возможность получения паролей для совершения 
      интернет-платежей Вы можете уточнить в банке, выпустившем карту.</p>
    <p>Настоящий сайт поддерживает 258-битное шифрование. Конфиденциальность сообщаемой персональной информации обеспечивается 
      ОАО "Сбербанк России". Введенная информация не будет предоставлена третьим лицам за исключением случаев, предусмотренных законодательством 
      РФ. Проведение платежей по банковским картам осуществляется в строгом соответствии с требованиями платежных систем Visa Int. и 
      MasterCard Europe Sprl.</p>
    <div class="caption">Оплата по банковским картам VISA</div>
    <p>К оплате принимаются все виды платежных карточек VISA, за исключением Visa Electron. В большинстве случаев карта Visa Electron не применима 
      для оплаты через интернет, за исключением карт, выпущенных отдельными банками. О возможность оплаты картой Visa Electron вам нужно выяснять у 
      банка-эмитента вашей карты.</p>
    <div class="caption">Оплата по кредитным картам MasterCard</div>
    <p>На сайте к оплате принимаются все виды MasterCard, за исключением Maestro.</p>
    <p>Что нужно знать:</p>
    <ul>
      <li>номер вашей кредитной карты;</li>
      <li>cрок окончания действия вашей кредитной карты, месяц/год;</li>
      <li>CVV код для карт Visa / CVC код для Master Card: 3 последние цифры на полосе для подписи на обороте карты.</li>
    </ul>
    Если на вашей карте код CVC / CVV отсутствует, то, возможно, карта не пригодна для CNP транзакций (т.е. таких транзакций, при которых сама карта не присутствует, а используются её реквизиты), и вам следует обратиться в банк для получения подробной информации.
  </div>

</div>