<div class="contacts">
  <breadcrumbs [list]="[{text: 'Главная', link: '/'}, {text: 'Контакты', link: null}]"></breadcrumbs>
  <div class="common-caption common-caption__account">
    <h3 style="padding-bottom: 10px;">
      Контакты
    </h3>
    <hr>
  </div>
  <div class="caption">
    Сделать заказ или уточнить наличие
  </div>
  <div class="text">
    <p>8 800 700 8858</p>
    <p><b>Режим работы</b></p>
    <p>пн-вс 10:00 - 21:00</p>
    <p><b>E-mail</b></p>
    <p>info@dari-cosmetics.ru</p>
    <p><b>Наш адрес</b></p>
    <p>460000, г.Оренбург, ул.Ленинская, д.39, 4 этаж</p>       
  </div>
  <!--<div class="contacts__inner">
     <div class="phone">
      <p><b></b></p>

    </div> -->
    <div class="text">
      <p><b>Наши реквизиты</b></p>
      <p>ИП Посадский Дмитрий Викторович</p>
      <p>ИНН 560901889500</p>
      <p>ОГРНИП 310565806400288</p>
    </div>
  <!-- </div> -->
</div>
