<div class="confirm-order" *ngIf="id">
  <div class="form-item" style="max-width: 570px;">
    <div class="label">Новый пароль</div>
    <div class="input" [ngClass]="errorClass">
      <input type="text" [(ngModel)]="newPassword1" required (focus)="errorClass = ''" placeholder="Новый пароль">
    </div>
    <div class="form-item__error" *ngIf="errorClass && (errorClass != 'valid')">Пароли введены некорректно</div>
  </div>
  <div class="form-item" style="max-width: 570px;">
    <div class="label">Повтор пароля</div>
    <div class="input" [ngClass]="errorClass">
      <input type="text" [(ngModel)]="newPassword2" required (focus)="errorClass = ''" placeholder="Повтор пароля">
    </div>
    <div class="form-item__error" *ngIf="errorClass && (errorClass != 'valid')">Пароли введены некорректно</div>
  </div>
  <div class="btn btn__forgot" (click)="save()">Сохранить</div>
  
</div>