<h2>Политика безопасности интернет-магазина https://dari-cosmetics.ru</h2>
<ul style="list-style: decimal; padding: 0; margin: 0">
    <li>Интернет-магазин гарантирует, что полученная от Вас информация никогда и ни при каких условиях не будет предоставлена 
    третьим лицам, за исключением случаев, предусмотренных действующим законодательством Российской Федерации.</li>
    <li>Вся информация, которую Вы укажите при регистрации, будет храниться в защищенной информационной базе.</li>
    <li>Интернет-магазин обеспечивает полную конфиденциальность при выполнении заказа, а также то, что информация о клиенте будет 
      использована исключительно для выполнения поступившего заказа.</li>
    <li>Ваши регистрационные данные нам необходимы только лишь чтобы наши менеджеры сумели с Вами связаться по телефону, а служба доставки 
      сумела доставить заказанный Вами продукт в необходимое место в срок.</li>
    <li>Помимо всего этого, зарегистрировавшись, у Вас появится возможность получать информацию обо всех новинках нашего магазина: новых 
      поступлениях товара, распродажах, особых программах, скидках и бонусах.</li>
    <li>В случае если у Вас возникнут какие-либо трудности или же вопросы по авторизации-регистрации в интернет магазине – напишите нам по 
      электронной почте или сообщите по телефону и мы всегда поможем Вам!</li>
    <li>Личные сведения всегда можно изменить, обновить или удалить в разделе "Личный кабинет".</li>
    <li>Для того чтобы обеспечить Вас информацией, интернет-магазин с Вашего согласия может присылать на указанный Вами при регистрации адрес 
      электронный почты информационные сообщения. В любой момент Вы можете отказаться от нее.</li>
    <li>Сведения на данном сайте имеют чисто информативный характер, в них могут быть внесены любые изменения без какого-либо предварительного 
      уведомления.</li>
    <li>Сотрудники нашей компании никогда не попросят у Вас данные пластиковой карты либо другие конфиденциальные реквизиты.</li>
    <li>Некоторые объекты, размещенные на сайте, являются собственностью интернет-магазина. Использование таких объектов установлено действующим 
      законодательством РФ.</li>
    <li>На сайте интернет-магазина имеются ссылки, позволяющие перейти на другие сайты. Интернет-магазин не несет ни какой ответственности за сведения, 
      публикуемые на этих сайтах, и предоставляет ссылки на них только в целях обеспечения удобства для посетителей своего сайта.</li>
    <li>Настоящим Вы подтверждаете свое согласие для использования Продавцом /или уполномоченным лицом Продавца Ваших персональных данных, в целях 
      определенных Уставом Продавца, различными способами, в том числе путем осуществления автоматизированного анализа персональных данных, а также на их 
      передачу различными способами, без ограничения срока действия.</li>
</ul>

<p>В соответствии с п. 5 ст. 21 ФЗ «О персональных данных» настоящее согласие может быть отозвано только при условии письменного уведомления не 
менее чем за 5 календарных дней до предполагаемой даты прекращения использования персональных данных. </p> 
<p>Порядок обработки персональных данных: обработка персональных данных происходит в течение 5 суток после оформления заказа.</p>
