<div class="about">
  <breadcrumbs [list]="[{text: 'Главная', link: '/'}, {text: 'О нас', link: null}]"></breadcrumbs>
  <div class="common-caption common-caption__cart">
    <h3 style="padding-bottom: 26px; text-transform: unset;">
      О БРЕНДЕ
    </h3>
    <hr>
  </div>
  <div class="text">
    <i>
      Посмотреть в зеркало, проснувшись утром, и остаться довольной своим отражением…
      Сделать легкий мейкап за 5 минут или обойтись без него…
      Чувствовать себя уверенно не зависимо от того, накрашена или нет…Ведь ты от природы, естественно, красива! 
    </i>
    <p>
      <b>Идея естественной красоты лежит в основе ценностей бренда “DARI cosmetics”.</b>
      Мы верим в природный потенциал и знаем, что, используя лишь декоративные средства, невозможно реализовать его на 100%.
    </p>
    <p>
      Дарить девушкам любого возраста счастье быть красивыми, раскрыть достоинства, которыми природа наделила каждую из вас, - в этом состоит миссия бренда DARI cosmetics. Мы хотим, чтобы вы нравились себе и окружающим, излучали уверенность, энергию и воодушевление, ловили восхищенные взгляды и получали от жизни максимум!
      
    </p>
    <p>
      <b>Эффективный уход за кожей – </b> главный аргумент в борьбе за естественную красоту! Решая различные, порой очень сложные эстетические проблемы, косметика Dari дарит результат, который превосходит ожидания самих клиентов. Ведь на фоне несбывшихся надежд на дорогие средства и косметологов, этот эффект действительно кажется волшебным. Тем более он достигается в среднем за 1 месяц. А при правильном поддерживающем уходе - сохраняется навсегда.
    </p>
    <p>
      <b>
        Более 10 лет профессионального опыта в разработке комплексных систем ухода за кожей наша команда передает клиентам «DARI cosmetics».
      </b>
      Вы можете воспользоваться готовыми программами, с проверенной эффективностью, а также - обратиться за индивидуальной консультацией. 
      Консультанты DARI cosmetics подберут комплекс именно под ваш тип кожи и проблему,
      дадут пошаговые инструкции для достижения эффективного результата, который потом все будут называть чудом!
    </p>
    <p>
      <b>Dari Cosmetics </b>
      за естественность и натуральность во всем: и в красоте, и в рецептурах! Наши косметические продукты стимулируют собственные резервы клеток для восстановления и обновления. На них невозможно «подсесть», они не вызывают привыкания и не вредят. Работают не только со следствием, но с причинами нарушений различных кожных функций. И такой подход всегда приводит к комплексному преображению. 
      Рецептуры созданы с учётом колоссального опыта медицины Древнего Китая и мировых разработок в области космецевтики. Для изготовления продукции Dari Cosmetics используются преимущественно натуральные, природные или биотехнологические активы нового поколения. Они делают безопасную косметику ещё и очень эффективной.
    </p>
    <p>
      <b>Ассортимент </b>Dari Cosmetics составляют продукты, которые доказали свою эффективность для десятков тысяч людей. Мы следим за новинками в мире косметики, и самые перспективные из них попадают в наши уходовые программы. Так, мы одними из первых в России предложили клиентам косметику с <b>«микробиом-концепцией»</b>, которая заботится об экосистеме кожи и выводит уход на качественно новый уровень. 
    </p>
    <p>
      Мы вдохновляемся результатами наших клиентов на создание новых продуктов и программ. Что может быть круче естественной красоты? Только возможности, которые она перед вами открывает!.. 
    </p>
  </div>
</div>

