<div class="certificates">
  <breadcrumbs [list]="[{text: 'Главная', link: '/'}, {text: 'Сертификация', link: null}]"></breadcrumbs>
  <div class="common-caption">
    <h3>
      Сертификация
    </h3>
    <hr>
  </div>
  <div class="certificates__inner">
    <div class="certificates__item">
      <div class="certificates__img" (click)="openImg('https://dari-cosmetics.ru/assets/cert/cert1.jpg')">
        <img src="https://dari-cosmetics.ru/assets/cert/cert1.jpg">
      </div>
    </div>
    <div class="certificates__item">
      <div class="certificates__img" (click)="openImg('https://dari-cosmetics.ru/assets/cert/cert2.jpg')">
        <img src="https://dari-cosmetics.ru/assets/cert/cert2.jpg">
      </div>
    </div>
    <div class="certificates__item">
      <div class="certificates__img" (click)="openImg('https://dari-cosmetics.ru/assets/cert/cert3.jpg')">
        <img src="https://dari-cosmetics.ru/assets/cert/cert3.jpg">
      </div>
    </div>
    <div class="certificates__item">
      <div class="certificates__img" (click)="openImg('https://dari-cosmetics.ru/assets/cert/cert4.jpg')">
        <img src="https://dari-cosmetics.ru/assets/cert/cert4.jpg">
      </div>
    </div>
    <div class="certificates__item">
      <div class="certificates__img" (click)="openImg('https://dari-cosmetics.ru/assets/cert/cert5.jpg')">
        <img src="https://dari-cosmetics.ru/assets/cert/cert5.jpg">
      </div>
    </div>
    <div class="certificates__item">
      <div class="certificates__img" (click)="openImg('https://dari-cosmetics.ru/assets/cert/cert6.jpg')">
        <img src="https://dari-cosmetics.ru/assets/cert/cert6.jpg">
      </div>
    </div>
    <div class="certificates__item">
      <div class="certificates__img" (click)="openImg('https://dari-cosmetics.ru/assets/cert/cert7.jpg')">
        <img src="https://dari-cosmetics.ru/assets/cert/cert7.jpg">
      </div>
    </div>
    <div class="certificates__item">
      <div class="certificates__img" (click)="openImg('https://dari-cosmetics.ru/assets/cert/cert8.jpg')">
        <img src="https://dari-cosmetics.ru/assets/cert/cert8.jpg">
      </div>
    </div>
    <div class="certificates__item">
      <div class="certificates__img" (click)="openImg('https://dari-cosmetics.ru/assets/cert/cert9.jpg')">
        <img src="https://dari-cosmetics.ru/assets/cert/cert9.jpg">
      </div>
    </div>
    <div class="certificates__item">
      <div class="certificates__img" (click)="openImg('https://dari-cosmetics.ru/assets/cert/cert10.jpg')">
        <img src="https://dari-cosmetics.ru/assets/cert/cert10.jpg">
      </div>
    </div>
    <div class="certificates__item">
      <div class="certificates__img" (click)="openImg('https://dari-cosmetics.ru/assets/cert/cert11.jpg')">
        <img src="https://dari-cosmetics.ru/assets/cert/cert11.jpg">
      </div>
    </div>
    <div class="certificates__item">
      <div class="certificates__img" (click)="openImg('https://dari-cosmetics.ru/assets/cert/cert12.jpg')">
        <img src="https://dari-cosmetics.ru/assets/cert/cert12.jpg">
      </div>
    </div>
    <div class="certificates__item">
      <div class="certificates__img" (click)="openImg('https://dari-cosmetics.ru/assets/cert/cert13.jpg')">
        <img src="https://dari-cosmetics.ru/assets/cert/cert13.jpg">
      </div>
    </div>
    <div class="certificates__item">
      <div class="certificates__img" (click)="openImg('https://dari-cosmetics.ru/assets/cert/cert14.jpg')">
        <img src="https://dari-cosmetics.ru/assets/cert/cert14.jpg">
      </div>
    </div>
    <div class="certificates__item">
      <div class="certificates__img" (click)="openImg('https://dari-cosmetics.ru/assets/cert/cert15.jpg')">
        <img src="https://dari-cosmetics.ru/assets/cert/cert15.jpg">
      </div>
    </div>
    <div class="certificates__item">
      <div class="certificates__img" (click)="openImg('https://dari-cosmetics.ru/assets/cert/cert16.jpg')">
        <img src="https://dari-cosmetics.ru/assets/cert/cert16.jpg">
      </div>
    </div>
    <div class="certificates__item">
      <div class="certificates__img" (click)="openImg('https://dari-cosmetics.ru/assets/cert/cert17.jpg')">
        <img src="https://dari-cosmetics.ru/assets/cert/cert17.jpg">
      </div>
    </div>
    <div class="certificates__item">
      <div class="certificates__img" (click)="openImg('https://dari-cosmetics.ru/assets/cert/cert18.jpg')">
        <img src="https://dari-cosmetics.ru/assets/cert/cert18.jpg">
      </div>
    </div>
    <div class="certificates__item">
      <div class="certificates__img" (click)="openImg('https://dari-cosmetics.ru/assets/cert/cert19.jpg')">
        <img src="https://dari-cosmetics.ru/assets/cert/cert19.jpg">
      </div>
    </div>
    <div class="certificates__item">
      <div class="certificates__img" (click)="openImg('https://dari-cosmetics.ru/assets/cert/cert20.jpg')">
        <img src="https://dari-cosmetics.ru/assets/cert/cert20.jpg">
      </div>
    </div>
  </div>
</div>